a {
    text-decoration: none;
    color: rgb(0, 116, 183);   
}

/* .mainbody {
    text-align: center;
} */

.social_card {
    box-sizing: border-box;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: none;
    background-origin: padding-box;
    background-size: auto;
    border-bottom-color: rgb(231, 231, 231);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(231, 231, 231);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(231, 231, 231);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(231, 231, 231);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgb(231, 231, 231) 0px 0px 2px 0px;
    color: rgb(51, 51, 51);
    display: block;
    font-family: "Museo Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    margin: auto;
    max-width: 500px;
    position: relative;
    text-align: center;
    width: 500px;
}

.sc_image {
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(51, 51, 51);
    display: block;
    float: left;
    font-family: "Museo Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    /* height: 54.390625px; */
    line-height: 18px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 0px;
    max-height: 96px;
    max-width: 96px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 1px;
    text-align: left;
    width: 96px;
}

.sc_title {
    color: rgb(0, 116, 183);
    cursor: auto;
    display: block;
    font-family: "Museo Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
    font-weight: bold;
    /* height: 19px; */
    line-height: 19.600000381469727px;
    margin-bottom: 5px;
    text-align: left;
    text-decoration: none;
    width: 500px;
}

.sc_snippet {
    color: rgb(51, 51, 51);
    display: block;
    font-family: "Museo Sans", "Helvetica Neue", sans-serif;
    font-size: 12px;
    /* height: 72px; */
    line-height: 18px;
    text-align: left;
    /* width: 500px; */
    padding: 10px;
}

.sc_footer {
    clear: both;
    color: rgb(153, 153, 153);
    display: block;
    font-family: "Museo Sans", "Helvetica Neue", sans-serif;
    text-align: left;
    width: 500px;
}

.sc_favicon {
    display: inline-block;
}

.sc_source {
    color: rgb(153, 153, 153);
    display: inline-block;
    vertical-align: text-top;
    font-family: "Museo Sans", "Helvetica Neue", sans-serif;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
}

.sc_pubdate {
    color: rgb(153, 153, 153);
    display: inline-block;
    vertical-align: text-top;
    font-family: "Museo Sans", "Helvetica Neue", sans-serif;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
}

.spacer {
    display: inline-block;
}

.sc_belowtitle_plugin {
    color: rgb(153, 153, 153);
    display: block;
    /* display: inline-block; */
    /* float: right; */
    /* vertical-align: bottom; */
    float: left;
    font-family: "Museo Sans", "Helvetica Neue", sans-serif;
    font-size: 10px;
    text-align: left;
    /* text-transform: uppercase; */
}

.sc_footer_plugin {
    color: rgb(153, 153, 153);
    /* display: inline-block; */
    float: right;
    vertical-align: bottom;
    font-family: "Museo Sans", "Helvetica Neue", sans-serif;
    font-size: 10px;
    text-align: left;
    /* text-transform: uppercase; */
}

/* from https://www.w3schools.com/howto/howto_js_popup.asp */

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.popuplink {
    color: #ffffff;
    font-weight: bold;
    text-decoration: underline;
}