.git
.gitignore
Pipfile
Pipfile.lock
Dockerfile
LICENSE
node_modules
docs
.vscode
.DS_Store
working-dontcommit
*.log
*.sqlite
.web_cache
.eggs
*.egg
*.egg-info
*.egg/
_build
*.numbers
dist
build
__pycache__
*.pyc
release/
