.vscode
*.pyc
.eggs
build
dist
*.egg-info
*.log
.DS_Store
.web_cache
*.sqlite
*.bak
node_modules
_build
working-dontcommit

# used for creating UTF-8 CSV files
*.numbers

installer/
release/
source-distro/
rpmbuild/
