aiu==0.1.1a4
beautifulsoup4==4.8.2
Brotli==1.0.4
bs4==0.0.1
CairoSVG==2.3.0
dicttoxml==1.7.4
Flask==1.0.2
html5lib==1.0.1
htmlmin==0.1.12
ImageHash==4.0
imageio==2.5.0
jusText==2.2.0
Pillow==5.2.0
readability-lxml==0.7
redis==3.0.1
redis-namespace==3.0.1.1
requests==2.22.0
requests-cache==0.4.13
requests-futures==0.9.9
Sphinx==1.8.4
summa==1.2.0
tldextract==2.2.0
wordcloud==1.6.0
