<div class="row">
    <div class="col">
        <p>The URL you supplied ({{ urim }}) is not a memento or comes from an archive that is not Memento-Compliant.</p>
        <p>
            For a live web resource, you can create a memento that resides on the web in the following ways:
            <ul>
                <li>Using the Internet Archive's Save Page Now button.</li>
                <li>Saving the web page at Archive.is</li>
                <li>Using the ArchiveNow service.</li>
                <li>Using a browser plugin, like Mink.</li>
            </ul>

        </p>
        <p>Happy Memento Making!</p>
    </div>
</div>

