<blockquote class="mementoembed"
    data-versionurl="{{ urim }}"
    data-originalurl="{{ urir }}"
    data-surrogate-creation-time="{{ surrogate_creation_time }}"
    data-image="{{ image }}"
    data-archive-name="{{ archive_name }}"
    data-archive-favicon="{{ archive_favicon }}"
    data-archive-uri="{{ archive_uri }}"
    data-archive-collection-id="{{ archive_collection_id }}"
    data-archive-collection-uri="{{ archive_collection_uri }}"
    data-archive-collection-name="{{ archive_collection_name }}"
    data-original-favicon="{{ original_favicon }}"
    data-original-domain="{{ original_domain }}"
    data-original-link-status="{{ original_link_status }}"
    data-versiondate="{{ memento_datetime }}"
    style="width: 445px; font-size: 12px; border: 1px solid rgb(231, 231, 231);"
    >
    <div class="me-textright">
    <p class="me-title"><a class="me-title-link" 
        data-originalurl="{{ urir }}"
        data-versiondate="{{ memento_datetime }}"
        href="{{ urim }}">{{ me_title }}</a></p>
    <p class="me-snippet">{{ me_snippet }}</p>
    </div>
</blockquote>

