<blockquote class="mementoembed" 
    data-versionurl="{{ urim }}"
    data-originalurl="{{ urir }}"
    data-surrogate-creation-time="{{ surrogate_creation_time }}"
    data-image="{{ image }}"
    data-archive-name="{{ archive_name }}"
    data-archive-favicon="{{ archive_favicon }}"
    data-archive-uri="{{ archive_uri }}"
    {% if archive_collection_name is not none %}
        data-archive-collection-id="{{ archive_collection_id }}"
        data-archive-collection-uri="{{ archive_collection_uri }}"
        data-archive-collection-name="{{ archive_collection_name }}"
    {% endif %}
    data-original-favicon="{{ original_favicon }}"
    data-original-domain="{{ original_domain }}"
    data-original-link-status="{{ original_link_status }}"
    data-versiondate="{{ memento_datetime }}"
    style="width: 445px; font-size: 12px; border: 1px solid rgb(231, 231, 231); background-attachment: fixed; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; min-height: 200px; line-height: 19.6px; background-position: center center; background-repeat: no-repeat no-repeat;"
    data-processed="true">
    <div class="me-image"
         style="color: rgb(51, 51, 51); display: inline; float: left; margin: 0px 30px 5px 0px; padding: 1px; max-height: 96px; max-width: 96px; width: 96px; background-attachment: fixed; background-color: rgb(255, 255, 255); background-position: center center; background-repeat: no-repeat no-repeat;">
         <img
            style="max-width: 96px; max-height: 96px;"
            src="{{ image }}">
    </div>
    <div class="me-textright">
        <p class="me-title" 
        style="text-align: left; color: rgb(9, 116, 255); font-family: &quot;Museo Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif; font-size: 14px; font-weight: 700; line-height: 19.6px; padding: 0px; margin: 0px 0px 1px; background-attachment: fixed; background-color: rgb(255, 255, 255); background-position: center center; background-repeat: no-repeat no-repeat;"><a
                class="me-title-link" 
                data-originalurl="{{ urir }}"
                data-versiondate="{{ memento_datetime }}" 
                href="{{ urim }}"
                style="text-decoration: none; color: rgb(9, 116, 255); background-attachment: fixed; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; background-position: center center; background-repeat: no-repeat no-repeat;">{{ me_title }}</a></p>
        <div class="me-belowtitle"
            style="color: rgb(153, 153, 153); font-family: &quot;Museo Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif; font-size: 10px; text-align: left; margin: 0px; padding: 0px; background-attachment: fixed; background-color: rgb(255, 255, 255); background-position: center center; background-repeat: no-repeat no-repeat;">
            <img
                class="me-favicon"
                src="{{ archive_favicon }}"
                alt="{{ archive_name }}"
                width="16"
                style="background-attachment: fixed; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-size: 10px; border-width: 0px; border-style: none; line-height: 15px; border-image-width: 0; font-family: &quot;Museo Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif; font-stretch: initial; font-weight: 400; vertical-align: middle; background-position: center center; background-repeat: no-repeat no-repeat;">
                &nbsp;&nbsp;Preserved by 
                <a
                class="me-archive-link"
                href="{{ archive_uri }}"
                style="text-decoration: none; color: rgb(9, 116, 255); background-attachment: fixed; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; background-position: center center; background-repeat: no-repeat no-repeat;">{{ archive_name }}</a>
                {% if archive_collection_name is not none %}
                    <br>Member
                of the Collection <a class="me-archive-link" style="text-decoration: none; color: rgb(9, 116, 255); background-attachment: fixed; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; background-position: center center; background-repeat: no-repeat no-repeat;"
                    href="{{ archive_collection_uri }}">{{ archive_collection_name }}</a></div><br>
                {% endif %}
        <p class="me-snippet" 
        style="color: rgb(51, 51, 51); font-family: &quot;Museo Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif; font-size: 12px; line-height: 18px; text-align: left; margin: 0px; padding: 0px; background-attachment: fixed; background-color: rgb(255, 255, 255); background-position: center center; background-repeat: no-repeat no-repeat;">{{ me_snippet }}</p>
    </div>
    <div class="me-footer" 
        style="color: rgb(153, 153, 153); font-family: &quot;Museo Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif; font-size: 10px; text-align: left; margin: 10px 0px 0px; padding: 10px 0px 0px; background-attachment: fixed; background-color: rgb(255, 255, 255); background-position: center center; background-repeat: no-repeat no-repeat;">&nbsp;&nbsp;
        <img
            class="me-favicon"
            src="{{ original_favicon }}"
            width="16"
            style="background-attachment: fixed; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; font-size: 10px; border-width: 0px; border-style: none; line-height: 15px; border-image-width: 0; font-family: &quot;Museo Sans&quot;, &quot;Helvetica Neue&quot;, sans-serif; font-stretch: initial; font-weight: 400; vertical-align: middle; background-position: center center; background-repeat: no-repeat no-repeat;">&nbsp;&nbsp;<a
            class="me-pubdate"
            data-originalurl="{{ urir }}"
            data-versiondate="{{ memento_datetime }}"
            href="{{ urim }}"
            style="text-decoration: none; color: rgb(9, 116, 255); background-attachment: fixed; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; background-position: center center; background-repeat: no-repeat no-repeat;">{{ original_domain }}&nbsp;&nbsp;@&nbsp;&nbsp;{{ memento_datetime}}</a><br>
        &nbsp; <a class="me-allversions" href="http://timetravel.mementoweb.org/list/{{ flat_memento_datetime }}/{{ urir }}"
            style="text-decoration: none; color: rgb(9, 116, 255); background-attachment: fixed; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; background-position: center center; background-repeat: no-repeat no-repeat;">Other
            Versions</a>&nbsp; || 
            {% if original_link_status == "Live" %}
                <a class="me-livestatus" 
                data-versionurl="{{ urim }}"
                data-versiondate="{{ memento_datetime }}" 
                href="{{ urir }}"
                style="text-decoration: none; color: rgb(9, 116, 255); background-attachment: fixed; background-color: rgb(255, 255, 255); margin: 0px; padding: 0px; background-position: center center; background-repeat: no-repeat no-repeat;">Current
                version</a>
            {% else %}
                <span style="color: #a8201a;">Current version unavailable</span>
            {% endif %}
    </div>
</blockquote>
